/* Navbar Container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px;
  background: #fff;
  /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
  position: relative;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: #ff4d4d;
}

/* Nav links */
.nav-links {
  list-style : none;
  display: flex;
  gap: 25px;
  font-size: 18px;
 text-decoration: none;
}

.nav-links li {
  cursor: pointer;
  transition: 0.2s;
 
}

.nav-links li:hover {
  color: #ff4d4d;
}
.nav-links li a {
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
  text-decoration: none;
  color: #000;
}

.nav-links li a:hover {
  background: #ff6347;
  color: white;
}


/* Search */
.search-box {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 200px;
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: #fff;
    padding: 15px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  }

  .search-box {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}